<h1>WELCOME TO YOUR ADDRESS BOOK</h1>
<br>
<br>
<h3>Add a New Contact</h3>
<br>
<br>
<form action="/contact/new" method="post">
	<label for ="name">Enter the name of the Contact</label>
	<input id="name" name="name" type="text">
	<br>
	<br>
	<label for ="phonenumber">Enter the phone number of the contact</label>
	<input id="phonenumber" name="phonenumber" type="text">
	<br>
	<br>
	<label for="country">Enter the Country for the contact</label>
	<input id="country" name="country" type="text">
	<br>
	<br>
	<label for="state">Enter the State for the contact</label>
	<input id="state" name="state" type="text">
	<br>
	<br>
	<label for="pincode">Enter the Pincode for the contact</label>
	<input id="pincode" name="pincode" type="text">
	<br>
	<br>
	<label for="city">Enter the City for the contact</label>
	<input id="city" name="city" type="text">
	<br>
	<br>
	<label for="housenumber">Enter the House Number for the contact</label>
	<input id="housenumber" name="housenumber" type="text">
	<br>
	<br>
	<label for="streetaddress">Enter the Street Address for the contact</label>
	<input id="streetaddress" name="streetaddress" type="text">
	<br>
	<br>
	<button type="submit">ADD</button>
</form>