<h1>WELCOME TO YOUR ADDRESS BOOK</h1>
<br><br>
<h3>Yay! You deleted all contacts</h3>

<button id="addcontact" type="button" class="btn btn-primary btn-lg"><a href="/">View All Contacts</a></button>
