<head>     
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>AddressBook</title>
</head> 
<body> 
	<div id="landingPage" class="well">
		<h1>WELCOME TO YOUR ADDRESS BOOK</h1>
		<br><br>
		@foreach (var contact in Model)     
		{          
			if (contact !=null)         
			{             
				<li><strong><a href='/contact/@contact.GetId()'>@contact.GetName()</a></strong></li>
			}
		}
		<h2><a href="/contact/create">Add Contact</a></h2> 
		<br><br>
		<h2><a href="/contact/deleteall">Delete All Contacts</a></h2> 
	</div>
	<style>
	#landingPage
	{
		background-color: #00CCFF;
		padding-left: 100px;
		width: 50%;
		height: 100%;
	}
	a
	{
		align: center;
		display: inline-block;
		text-align: center;
		padding-left: 200px;
	}
	</style>
</body>