<h1>WELCOME TO YOUR ADDRESS BOOK</h1>
<br><br>
<h3>Yay! You added a new contact</h3>
<ul>     
	 
</ul>
<button id="addcontact" type="button" class="btn btn-primary btn-lg"><a href="/">View All Contacts</a></button> 
